SUBSYSTEM=="input", KERNEL=="event*", ATTRS{name}=="GAIME Lightgun P*", ENV{ID_INPUT_GUN}="1", ENV{ID_INPUT_MOUSE}="1", ENV{ID_INPUT_GUN_NEED_BORDERS}="1", MODE="0666"
